In [1]:
import pandas as pd

In [10]:
df_cars=pd.read_csv('/Users/revanthkumarkanapala/Desktop/PDS ASSIGNMENT-2/clean_data/clean.csv')

In [11]:
df_cars['Fuel_Type'] = df_cars['Fuel_Type'].apply(lambda x: 1 if x == 'Petrol' else 0)
df_cars['Transmission'] = df_cars['Transmission'].apply(lambda x: 1 if x == 'Manual' else 0)

# View the dataset with one-hot encoded values
print(df_cars.head())

                               Name    Location  Year  Kilometers_Driven  \
0  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
1                      Honda Jazz V     Chennai  2011              46000
2                 Maruti Ertiga VDI     Chennai  2012              87000
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
4            Nissan Micra Diesel XV      Jaipur  2013              86999

   Fuel_Type  Transmission Owner_Type  Mileage  Engine   Power  Seats  Price
0          0             1      First    19.67  1582.0  126.20    5.0  12.50
1          1             1      First    13.00  1199.0   88.70    5.0   4.50
2          0             1      First    20.77  1248.0   88.76    7.0   6.00
3          0             0     Second    15.20  1968.0  140.80    5.0  17.74
4          0             1      First    23.08  1461.0   63.10    5.0   3.50

In [12]:
# Writing the data with one-hot encoded values to a new file
df_cars.to_csv('/Users/revanthkumarkanapala/Desktop/PDS ASSIGNMENT-2/results/cars_encoded.csv', index=False)